
a
  text-decoration: none
  color: $main
  transition: color .3s
  &:hover
    color: $maind
ul
  li>a 
    display: inline-block
    width: 100%
html
  font-size: 16px
  +r(1366)
    font-size: 15px
  +r(1280)
    font-size: 14px
  +r(991)
    font-size: 16px
  +r(769)
    font-size: 15px
  +r(544)
    font-size: 14px

body
  background-color: #47484b
  +box
  +font-smoothing
  text-rendering: optimizeLegibility
  & ::selection
    background-color: #4564d6
    color:#fff
  & ::-moz-selection
    background-color: #4564d6
    color:#fff
body
  font-family: 'Open Sans'
  +rem(font-size,14px)
body, .out
  width: 100%
  height: 100%
  &.modal-opened
    overflow: hidden
.out
  overflow-y: scroll
  overflow-x: hidden
  position: relative
  

// main page layout
.page
  &__wrapper
    background-color: #fff
    +rem(max-width, 1450px)
    +clr
  &__outer
    width: 100%
    display: block
  &__header
    +rem(height, 85px)
    +rem(max-width, 1450px)
    +rem(min-width, 320px)
    display: table
    &.is-hidden
      visibility: hidden
      .header_logo_wrap
        visibility: visible
      +r(991)
        transform: translateY(-5.425rem)
      .header_content
        transform: translateY(-100%)
        +r(991)
          transform: translateY(0)
    +rem(padding-left,25px)
    width: 100%
    position: fixed
    top: 0
    left: 0
    display: block
    transition: transform .25s
    transition-duration: $tr
    will-change: transform 
    z-index: 20
    +clr
    +r(991)
      background: $white
    +r(544)
      +rem(padding-left,20px)
  &__wrapper-inner
    +rem(padding-top, 83px)
    +r(991)
      +rem(padding-top, 135px)
  &__menu
    position: fixed
    height: 100%
    +rem(padding-bottom,85px)
    // +rem(padding-top, 84px) 
    +rem(width, 275px) 
    z-index: 3
    background: $white
    +r(991)
      display: none
    &--inner
      position: relative
      height: 100%
      box-shadow: $shadow-left
      z-index: 20
  &__content
    +rem(padding-left, 275px)
    position: relative 
    +r(991)
      padding-left: 0
  &__accii
    position: absolute
    +rem(top,-83px)
    +rem(right,-270px)
    +rem(width,270px)
    height: 100%
    +r(1645)
      display: none
    +r(1740)
      +rem(right,-180px)
      +rem(width,180px)
      .accii-item
        +rem(height,230px)
    .accii-item
      display: inline-block
      width: 100%
      vertical-align: top
      +rem(height,365px)
      background-size: 100%
      background-position: center
      background-repeat: no-repeat


//utility
.u-text
  +rem(font-size, 13px) 
  color: $text
  font-weight: 400
  &.lt 
   +rem(letter-spacing, 0.4px)  
.u-title
  +rem(font-size, 14px) 
  color: $black
  font-weight: 600;
.u-graytext
  +rem(font-size, 11px) 
  color: $graytext
  line-height: 1.8;
  &.tl
    color: $text
  &.old
    text-decoration: line-through
.u-title-small
  +rem(font-size,11px)
  font-weight: 700
  line-height: 1.6
  transition: color .3s
  +rem(letter-spacing, 0.4px) 
  &.tb 
    color: #000
  &.tl
    color: $text
.u-intro
  font-family: intro
  color: $btn-t
  line-height: 1.5
  font-weight: 700
  +rem(letter-spacing, 0.8px) 
  &.h1
    +rem(font-size,20px)
    text-transform: uppercase
    +rem(letter-spacing, 1.6px) 
  &.h2
    +rem(font-size,16px)
    text-transform: uppercase
  &.h3
    +rem(font-size,14px)
    text-transform: uppercase
    +rem(letter-spacing, 1px) 
  &.h4
    +rem(font-size,14px)
  &.extrabig
    text-transform: uppercase
    +rem(font-size,64px)
    line-height: 1.1
    color: $main
    +rem(letter-spacing, 3px) 
    +r(544)
       +rem(font-size,36px)
.t-blue
  background-color: $main
  color: $white
  a 
    color: $white   

.mailto
  color: $main
.col-50
  display: inline-block
  width: 50%
  vertical-align: top
  +clr
//component
.menu-list
  list-style: none
  +rem(letter-spacing,0.3px)
  .menu-item
    display: block
    a 
      width: 100%
      display: inline-block
      font-weight: 400;

.contact-block  
  .u-graytext
    display: block
    +rem(margin-bottom,16px)
    +rem(min-height,19px)
  a 
    display: block
    +rem(font-size,13px)
    +rem(margin-bottom,13px)
    &:last-child
      +rem(margin-bottom,20px)
  &+ .btn
    display: inline-block
    float: left
    transform: scale(0.85)
    transform-origin: 50% 180%
    +rem(letter-spacing, 0.8px)
    +rem(margin-left,-11px)
    font-weight: 300



.c-menu-block
  +padlr(25px)
  &.main
    +rem(padding-top,25px)
    +rem(padding-bottom,26px)
    .menu-item
      +rem(margin-left,-25px)
      +rem(margin-right,-25px)
      +padlr(25px)
      +tr (background .3s)
      a 
        +rem(padding,14px 0 15px)
        color: $white
        font-weight: 600
      &:hover, &.active
          background: $mhover 
  &.add
    +rem(padding-top, 33px) 
    .menu-list
      +rem(margin-top, 16px) 
      +rem(font-size, 13px)
      +rem(max-height, 320px)  
      overflow-y: auto
      +rh(800)
        +rem(max-height, 155px)  
    .menu-item
      a 
        +rem(padding,10px 0 6px)
        color: $text
      &:hover
        a
          color: $maind
  &.menu-footer
    +rem(width, 320px) 
    position: absolute
    +rem(height,80px)
    bottom: 0
    left: 0
    z-index: 20
//objects
.o-menu-search
  .search__wrapper
    +rem(height,38px)
    +rem(border-radius, 19px)
    border: 1px solid $formbor
    position: relative
    transition: border-color .15s
    &:hover
      border-color: $maind
    &.in-focus
      border-color: $mhover
    .search__input
      +rem(border-radius, 17.25px)
      display: inline-block
      width: 100%
      height: 100%
      +rem(padding-left,15px)
      +rem(padding-right,35px)
      display: inline-block
      background: $formbg
      +placeholder 
        +rem(letter-spacing,0.4px)
    .search__btn
      display: inline-block
      position: absolute
      +rem(height,38px)
      +rem(width,45px)
      background: 0 0
      top: 0
      right: 0
      .search-icon
        display: inline-block
        height: 100%
        width: 100%
        +vertical
        .search-i
          transition: fill .3s $tr
        svg
          display: inline-block
          +rem(height,17px)
          +rem(width,17px)
          vertical-align: middle
      &:hover
        .search-i
          fill: $mainh
      &:hover
        .search-i
          fill: $mainc
.dropdown-trigger
  position: relative
  &:hover
    .dropdown-target
      // overflow: visible
      // +rem(padding-top,10px)
      transition-delay: 0.15s
      +rem(max-height,1000px)
      +rem(padding-bottom,7px)
.dropdown-target.active
  // overflow: visible
  transition-delay: 0.15s
  +rem(max-height,1000px)
  +rem(padding-bottom,5px)
.dropdown-target
  position: absolute
  overflow: hidden
  z-index: 2
  // width: 100%
  +padlr(5px)
  +rem(margin-right,-5px)
  max-height: 0
  padding-top: 0
  transition-property: max-height,padding
  transition-timing-function: $tr
  transition-duration: .35s
  will-change: max-height, padding
  +gpu
  +clr
  .dropdown-inner
    +rem(margin-top,10px)
    +rem(margin-bottom,2px)
    float: right
    background: $white
    box-shadow: 2px 3.464px 20px 0px rgba( 0, 0, 0,0.17 );
.btn-cart,.btn-account
  position: relative
.btn
  +rem(padding-top,10px)
  +rem(padding-bottom,10px)
  line-height: 1
  +rem(border-radius,3px)
  text-align: center
  display: inline-block
  +rem(min-width, 150px)
  transition: background .2s $tr
  &.btn-standart
    +padlr(12px)
    +rem(font-size, 13px)
  &.btn-small
    +rem(font-size, 11px)
    +rem(padding-top,8px)
    +rem(padding-bottom,8px)
  &.t-blue,&.t-trans
    &:hover
      background: $maind
      color: $white
    &:active
      background: $mhover
      color: $white
  &.t-trans
    color: $btn-t
    border: 1px solid #000
    background: $white
    &:hover
      border-color: $maind
    &:active
      border-color: $mhover

//cart-dropdown
.cart-body
  &-outer
    +rem(margin-left,-26px)
    +rem(margin-right,-26px)
    +rem(max-height,343px)
    overflow-y: auto
  &-total
    border-top: 1px solid $border
    border-bottom: 1px solid $border
    +rem(margin-left,-26px)
    +rem(margin-right,-26px)
    +justify
    +rem(padding,16px 34px 14px 15px)
    .u-graytext,.u-title-small
      display: inline-block
    .u-title-small
      +rem(font-size,13px)
  &-btn-wrap
    text-align: center
    .btn
      +rem(margin-top,20px)
.cart-elem
  display: inline-block
  font-size: 0
  width: 100%
  +rem(padding,17px 15px 17px 17px)
  position: relative
  &:hover
    .cart-elem-descr > .u-title-small
      color: $maind
  &:not(:first-child)
    border-top: 1px solid $border
  &-img
    display: inline-block
    +rem(height,70px)
    +rem(width,70px)
    img
      display: block
      max-width: 100%
      margin: 0 auto
  &-descr
    vertical-align: top
    display: inline-block
    +rem(padding-left,15px)
    +rem(margin-top,-4px)
    width: 86%
    +rem(max-width,220px)
    .elem-val
      display: inline-block
      +rem(padding-left,4px)
    &>.u-title-small
      +rem(padding-bottom,5px)

    .u-graytext
      +rem(padding-bottom,1px)
      +rem(letter-spacing,0.4px)
  &-footer
    width: 100%
    +justify
    +rem(margin-top,5px)
    .u-title-small,.u-graytext
      display: inline-block
      vertical-align: top
      +rem(letter-spacing,0.4px)
    .u-title-small
      display: inline-block
      +rem(margin-right,-8px)
  &-del 
    position: absolute
    +rem(height,25px)
    +rem(width,25px)
    +rem(top,17px)
    +rem(right,15px)
    &:hover
      span:before
        opacity: 0
      span:after
        opacity: 1
    span
      display: inline-block
      position: relative
      width: 100%
      height: 100%
      &:before,&:after
        position: absolute
        content: ''
        +rem(width,10px)
        +rem(height,10px)
        right: 0
        top: 0
        background-position: center !important
        background-repeat: no-repeat !important
      &:before
        background: url(../img/icons/close_popup.svg)
        opacity: 1
      &:after
        background: url(../img/icons/close_popup_hover.svg)
        opacity: 0
    

.menu-dropdown
  &-wrapper
    border-top: 2px solid $graybg
    position: fixed
    height: 100% 
    +rem(left,275px)
    background: $white
    width: 0    
    +tr(width .35s $tr)
    +rem(top,84px)
    will-change: width
    z-index: 10
    box-shadow: 19px 5.464px 38px 0 rgba(0,0,0,.1);
    overflow: hidden
    +rem(padding-bottom,85px)
    &.is-shown
        +rem(width,310px)
  //for each list his own container
  &-cont
      height: 100%
      +rem(padding, 0 65px 0 37px )
      background: $white
      overflow: hidden
      position: absolute  
      top: 0
      left: 0
      z-index: 1
      opacity: 0
      transition-duration: .25s
      &.is-current
          z-index: 2
          opacity: 1
          transition-delay: .15s
  &-list
    +rem(width,208px)
    +rem(padding-top,30px)
    +rem(letter-spacing,0.3px)
  &-item
    +rem(font-size,14px)
    color: $main
    line-height: 1.429;
    font-weight: 600
    a 
      +rem(padding, 12px 0 11.5px)  
  //needs to position containers
  &-inner
      height: 100% 
      position: relative
      .c-menu-block.menu-footer
         +rem(padding-left, 37px) 
.header_logo
  &_wrap,&-inner
    +rem(width,250px)
    display: inline-block
    +r(544)
      +rem(width,160px)
      +rem(margin-left,-5px)
  &_wrap
    +rem(padding-top,26px)
    +rem(padding-bottom,26px)
    display: table-cell
    vertical-align: top
    font-size: 0
    // float: left
    +r(544)
      +rem(padding-top,25px)
  &-img,&-text
    vertical-align: top
  &-img
    display: inline-block
    +rem(width,75px)
    +rem(height,31px)
    +rem(margin-left,-7px)
    +rem(margin-top,1px)
  &-text
    display: inline-block
    +rem(font-size,15px)
    +rem(height,26px)
    +rem(margin-bottom,3px)
    +rem(margin-left,4px)
    line-height: 1.1
    text-transform: uppercase
    color: $black
    font-family: intro
    vertical-align: bottom

.header_content
  display: table-cell
  vertical-align: top
  width: 100%
  +rem(padding,25px 25px 16px)
  background: $white
  transition: transform .25s
  transition-duration: $tr
  will-change: transform
  +r(544)
    +rem(padding,25px 20px 20px 0)
.pricetel-wrap
  display: inline-block
  +rem(padding-left,32px)
  +r(991)
    display: none
.price-btn
  display: inline-block
  &:hover
    .price-icon
      .st1,.st2
        transform: translateY(1px)
  .price-icon
    display: inline-block
    float: left
    +rem(width,30px)
    height: 100%
    +rem(margin-right,10px)
    +rem(margin-top,6px)
    .st1,.st2
      transform: translateY(-1px)
      transition: transform .3s
  .price-text
    display: inline-block
    float: right
    +rem(letter-spacing, 0.3px)
.telephone-block
  display: inline-block
  +rem(padding-left,62px)
  vertical-align: top
  &.centered
    +rem(margin-top,-5px)
  &:hover
    .telephone-main
      color: $maind
      border-image: 0
      border-color: transparent
      &:before
        opacity: 0
      &:after
        opacity: 1
  .telephone-main
    +rem(font-size,18px)
    +rem(letter-spacing,0.4px)
    display: inline-block
    color: $text
    line-height: 1.35
    font-weight: 600
    border-bottom: solid
    border-width: 1px;
    border-image: url(../img/bdot.svg) 0 0 100 repeat stretch;
    transition: color .3s
    position: relative
    &:before,&:after
      position: absolute
      content: ''
      +rem(width,18px)
      +rem(height,18px)
      +rem(right,-28px)
      top: 50%
      transform: translateY(-45%)
      background-position: center !important
      background-repeat: no-repeat !important
      tansition: opacity .3s !important
    &:before
      background: url(../img/crop.svg)
      opacity: 1
    &:after
      background: url(../img/croph.svg)
      opacity: 0
  //dropdown
  .dropdown
    &-target
       +rem(margin-left,-25px)
    &-inner
      +rem(padding, 23px 25px 12px)
    &-content
      +rem(width,310px)
      font-size: 0

   
.cart_wrap
  float: right
  display: table
  &-cart,&-account
    display: table-cell
    position: relative
  &-cart
    border: 2px solid $main
    transition: border-color .3s
    +rem(border-radius,3px)
    +rem(height,40px)
    +rem(margin-top,-1px)
    +nosel
    &.active
      border-color: $maind
      .cart-counter
        border-left-color: $maind
    +r(991)
      border: none
      +rem(padding-right,30px)
      .btn-cart
        position: relative
    //dropdown
    .dropdown-target
      right: 0
      .dropdown-inner
        +rem(width,320px)
        &.not-empty
          +rem(width,350px)
          .dropdown-content
            +rem(padding-top,10px)
        .dropdown-content
          +rem(padding,26px)
          .u-text
            +rem(padding-bottom,20px)

    .cart-counter
      display: inline-block
      vertical-align: top
      border-left: 1px solid $main
      height: 100%
      transition: border-color .3s
      +rem(line-height,34px)
      text-align: center
      +r(991)
        border-left-color: transparent
        background: $main
        line-height: 1
        position: absolute
        +rem(right,-8px)
        +rem(top,-12px)
        +rem(padding,0 4px 0 3px)
      .count
        display: inline-block
        vertical-align: middle
        color: $text
        +rem(font-size,12px)
        +rem(width,30px)
        +r(991)
          color: $white
          width: auto
          +rem(line-height,20px)
          +rem(border-radius,3px)
    .cart-text
      display: inline-block
      +rem(padding,0 25px 0 10px)
      line-height: 1
      +r(991)
        padding: 0
        .u-graytext,.u-text
          +hidetext
      .u-text
        line-height: 1.55
      .u-graytext
        vertical-align: top
        line-height: .9
        display: inline-block
    .cart-icon
      display: inline-block
      height: 100%
      vertical-align: top
      +rem(width,35px)
      +rem(line-height,34px)
      +rem(padding-left,10px)
      text-align: center
      +r(991)
          padding-left: 0
           +rem(width,45px)
      svg 
        display: inline-block
        vertical-align: middle
        +rem(width,23px)
        +r(991)
          +rem(width,40px)
      .cart-i
        fill: $main
        +r(991)
          fill: $text
  &-modaltrigger
    display: none
    vertical-align: middle
    .menu-hamburger
      display: inline-block
      +rem(width,32px)
      +rem(height,28px)
      background: $white
      position: relative
      vertical-align: sub
      .hamburger-i
        display: inline-block
        background: url(../img/menu.svg)
        +rem(width,32px)
        +rem(height,28px)
    +r(991)
      display: table-cell
.cart_wrap-account
  vertical-align: middle
  &.dropdown-trigger
    .btn-account
      .account-icon:before
        opacity: 0
      .account-icon:after
        opacity: 1
    a >.u-text
      color: $maind
      font-weight: 600
    .btn-account
      +rem(padding-right,20px)
  .btn-account
    display: inline-block
    vertical-align: middle
    +rem(padding-right,35px)
    +r(991)
       +rem(padding-right,20px)
    .account-icon
      display: inline-block
      +rem(width,18px)
      +rem(height,18px)
      +rem(margin-top,1px)
      position: relative
      &:before,&:after
        position: absolute
        content: ''
        +rem(width,18px)
        +rem(height,18px)
        left: 0
        top: 0
        background-position: center !important
        background-repeat: no-repeat !important
      &:before
        background: url(../img/personal_account.svg)
        opacity: 1
      &:after
        background: url(../img/personal_accounth.svg)
        opacity: 0
      +r(991)
        +rem(width,32px)
        +rem(height,32px)
        &:before,&:after
          +rem(width,32px)
          +rem(height,32px)

    .u-text
      +rem(padding-left,14px)
      display: inline-block
      vertical-align: super
      +r(991)
        +hidetext
        padding-left: 0
  .dropdown
    &-target
      +rem(margin-left,-30px)
    &-content
      +rem(width,152px)
      float:left
    &-list
      +padlr(19px)
      +rem(padding-bottom,10px)
      +rem(margin-top,5px)
      &-item
        &:hover
          a 
            color: $maind
        a 
          +rem(padding,12px 0 6px)

.header_mobile
  &-menu
    +rem(margin-left,-25px)
    +rem(margin-right,-25px)
    +rem(letter-spacing,0.3px)
    line-height: 1
    font-weight: 600
    +nosel
    display: none
    +r(991)
      display: block
    .arrow-icon
      display: inline-block
      background: url(../img/icons/warrow.svg) no-repeat center
      transform: rotate(90deg)
    .mobile-title,.mobile_l1-item
      +padlr(20px)
      display: block
    .mobile-title
      +rem(padding-top,15px)
      +rem(padding-bottom,15px) 
      +rem(font-size,24px)
      cursor: pointer
      .arrow-icon
        display: inline-block
        float: right
        +rem(margin-right,37px)
        +rem(height,25px) 
        +rem(width,14px)
      &.active
        .arrow-icon
          transform: scale(1, -1) rotate(90deg)
        &+.mobile_l1
          +rem(padding-bottom,25px)
          +rem(max-height,500px)
          +r(480)
            +rem(max-height,470px)
    .mobile_l1
      max-height: 0
      overflow-x: hidden
      overflow-y: auto
      transition: max-height .3s, padding .3s
      .arrow-icon
        display: inline-block
        +rem(margin-left,15px)
        +rem(height,19px) 
        +rem(width,11px)
        vertical-align: bottom
    .mobile_l1-item
      +rem(font-size,20px)
      +tr(background 0.3s)
      &> a
        +rem(padding-top,15px)
        +rem(padding-bottom,15px)
      &.active
        background: $maind
        .mobile_l2
          max-height: 500px
          +rem(padding-bottom,25px)
        .arrow-icon
          transform: scale(1, -1) rotate(90deg)
    .mobile_l2
      max-height: 0
      overflow: hidden
      transition-property: max-height,padding 
      transition-duration: .3s,.3s
      +padlr(30px)
    .mobile_l2-item
      +rem(font-size,18px)
      &>a
        +rem(padding-top,10px)
        +rem(padding-bottom,10px)
    .calc 
      +rem(font-size,17px)
      +rem(margin-top,25px)

.calc
  font-weight: 400
  +rem(padding-left,25px)
  display: inline-block
  background-position: center left
  background-repeat: no-repeat
  &.t-w
    background-image: url(../img/calculatorw.svg) 
  &.t-b
    background-image: url(../img/calculator.svg)

.mobile_l1-item .mobile_l2 .mobile_l2-item:last-of-type
  +rem(padding-bottom,20px)
  border-bottom: 1px solid $formbor

.header_mobile
  &-contacts
    position: fixed
    width: 100%
    height: 100vh
    +clr
    top: 0
    right: 0
    left: 0
    bottom: 0
    background: $white
    opacity: 0
    overflow: hidden
    visibility: hidden
    transform: translateY(-100%)
    transition: opacity .15s, visibility .2s, transform 0.25s
    &.is-visible
      +r(991)
        opacity: 1
        visibility: visible
        transform: translateY(0)
  &-head
    +rem(padding,10px 25px)
    i 
      display: inline-block
      float: right
      +rem(width,25px)
      +rem(margin-top,8px)
      +rem(height,25px)
      cursor: pointer
      position: relative
      .line 
        +rem(height,4px)
        +rem(width,25px)
        position: absolute
        top: 50%
        transform-origin: 50%
        background: #000
        &:first-of-type
          transform: translateY(-50%) rotate(45deg)
        &:last-of-type
          transform: translateY(-50%) rotate(-45deg)
  &-body
    max-height: 100%
    text-align: center
    overflow-y: auto;
    .search__wrapper
      +rem(max-width,500px)
      margin: 0 auto;
    .c-menu-block.add
      overflow-y: auto
      +rem(padding-top,15px)
      +rem(padding-bottom,25px)
      +rem(max-height,800px)
      +r(480)
        +rem(max-height,570px)
      +r(380)
        +rem(max-height,500px)
      +r(321)
        +rem(max-height,450px)
      .menu-list
        overflow-y: visible
        max-height: 1000px
        +rem(margin-bottom,20px)
      .menu-item
        +rem(font-size,19px)
        a
          font-weight: 600
      .btn
        +rem(font-size,17px)
        +rem(width,190px)
        +rem(height,40px)
        &+.contact-block
          +rem(margin-top,20px)
      .contact-block
        .u-graytext
          +rem(font-size,15px)
        a
          +rem(font-size,17px)
.footer
  +rem(padding,46px 54px 47px)
  +rem(margin-top,57px)
  border-top: 1px solid $border
  +r(1026)
    +rem(padding,46px 35px 47px)
  +r(544)
    +rem(padding,36px 12px 120px)
.footer_contacts
  &-wrap
    font-size: 0
    +clr
  &-block
    display: inline-block
    vertical-align: top
    +rem(padding-right,15px)
    +r(870)
      min-width: 50%
    +r(544)
      +rem(padding-right,5px)
    &:first-of-type
      width: 30.5%
      +r(870)
        width: 25%
    &:nth-of-type(2)
      width: 22.5%
    &:nth-of-type(3)
      width: 25%
      & >.contact-block
        .u-text:not(:first-child)
          +rem(margin-top,12px)
    .contact-block
      .mailto
        +rem(letter-spacing,0.3px)
      &:not(:first-of-type)
        +rem(margin-top,18px)

.social-wrap
  .soc-item
    +rem(width,23px)
    +rem(height,23px)
    display: inline-block
    +rem(margin-right,23px)
    +rem(margin-top,5px)
  &+.btn 
    +rem(margin-top,32px)
    +padlr(12px)
    +rem(letter-spacing,0.8px)
    min-width: 0

.footer-describe-wrap
  font-size: 0
  +rem(margin-top,35px)
.paynemts-block
  display: inline-block
  width: 50%
  vertical-align: top
  +r(1250)
    width: 100%
    text-align: center
    +rem(margin-bottom,15px)
  +r(544)
    white-space: nowrap
    overflow-x: scroll
  .payment-item
    display: inline-block
    float: left
    +r(1250)
      float: none
    &:not(:last-child)
      +rem(margin-right,26px)
    img
      +rem(max-width,55px)
      +rem(height,25px)
      display: inline-block
.other-block
  display: inline-block
  width: 50%
  vertical-align: top
  +r(1250)
    +rem(margin-top,20px)
    width: 100%
    .other-copyright,.other-button,.other-developer
      display: inline-block
      width: 33%
      vertical-align: top
    .other-button
      text-align: center
    .other-developer
      text-align: right
      padding-left: 0
      a 
        float: right
  +r(544)
    position: relative
    .other-copyright,.other-developer
      width: 50%
    .other-button
      position: absolute
      width: 100%
      +rem(bottom,-50px)
      left: 0
      right: 0
  .other-copyright
    display: none
  .other-button
    display: inline-block
    vertical-align: top
.btn.totop  
  display: inline-block
  +rem(border-radius,3px)  
  +rem(padding,7px 20px 8px)  
  background: $white
  border: 1px solid #e5e5e5
  min-width: 0
  transition: color.3s, background .3s
  +rem(margin-left,25px)  
  &:hover
    background: #f2f2f2
    span 
      color: $maind
    .totop-i:before
      opacity: 0
    .totop-i:after
      opacity: 1
  span
    color: $main
    display: inline-block
    +rem(font-size,12px)
    +rem(letter-spacing,0.5px)
    font-weight: 400
  .totop-i
    display: inline-block
    +rem(width,12px)
    +rem(height,12px)
    +rem(margin-left,5px)
    position: relative
    &:before,&:after
      position: absolute
      content: ''
      +rem(width,12px)
      +rem(height,12px)
      left: 0
      top: 0
      background-position: bottom !important
      background-repeat: no-repeat !important
    &:before
      background: url(../img/icons/up.svg)
      opacity: 1
    &:after
      background: url(../img/icons/uph.svg)
      opacity: 0
.other-developer
  +rem(font-size,13px)
  padding-left: 31.5%
  vertical-align: middle
  font-weight: 400
  display: inline-block
  +rem(margin-top,5px)
  a 
    +rem(padding-left,35px)
    +rem(background-size,23px)
    position: relative
    white-space: nowrap
    &:before
      position: absolute
      content: ''
      display: inline-block
      background: url(../img/logof.svg) no-repeat left center
      +rem(height,23px)
      +rem(width,23px)
      +rem(top,-2px)
      left: 0
      
.index-slider
  &:hover
    .slick-dots
      opacity: 1
  .slick-list
    height: 27.6rem!important
  &-elem
    display: inline-block
    height: 27.6rem!important
    background-repeat: no-repeat
    background-position: center right
    background-size: auto 100%
    +rem(line-height, 440px)
    border: none!important
    +r(991)
      +rem(height,380px)
      +rem(line-height, 380px)
    +r(1300)
      background-position: center 
  &-text
    +rem(max-width,430px)
    +rem(margin-left,52px)
    +rem(margin-bottom,50px)
    display: inline-block
    vertical-align: bottom
    +r(544)
      +rem(margin-left,20px)
      +rem(max-width,375px)
      vertical-align: middle
    .extrabig
      +rem(margin-bottom,25px)
    .h2
      line-height: 1.8
.slick-dots
  display: inline-block
  +rem(right,20px)
  +rem(bottom,30px)
  left: auto
  opacity: 0
  transition: opacity .3s
  +r(544)
    right: 0
    left: 0
    opacity: 1
  li 
    +rem(padding,0 5px)
    border: none
    button
      border: none
      transition: background .3s
    &:not(.slick-active):hover>button
      background: $main
.slick-dots li.slick-active button
  background: #1785ff

.section-feature
  position: relative;
  +padlr(28px)
  border-bottom: 1px solid $border
  font-size: 0
  box-sizing: border-box
  +rem(margin-bottom,50px)
  +r(544)
    +rem(margin-bottom,20px)
.features__nav
  position: absolute;
  top: 42%;
  @include rem(height, 30px)
  left: 0
  right: 0
  visibility: hidden;
  z-index: 1;
  .slick-arrow
    display: inline-block;
    @include rem(width, 25px);
    @include rem(height, 15px);
    border: none;
    background: none;
    outline: 0;
    cursor: pointer;
    visibility: visible;
    transform-origin: 50%;
    &.slick-disabled
      opacity: 0.5
  .carousel-next
    float: right;
    @include rem(margin-right, 15px);
    transform: rotate(270deg);
    +r(544)
      +rem(margin-right,8px)
  .carousel-prev
    float: left;
    @include rem(margin-left, 15px);
    transform: rotate(-270deg);
    +r(544)
      +rem(margin-left,8px)
.features_block 
  display: block
  +rem(padding,23px 30px 23px 0)
  border-left: 1px solid $border
  +r(1112)
    border-left-color: transparent
  &:first-child
    border-left-color: transparent
  +r(480)
    +rem(padding,23px 10px 23px 0)
  .features--img
    +rem(width, 35px)
    +rem(height, 35px)
    +rem(margin, 0 15px 0 20px)
    display: inline-block
    float: left
  .u-text
    +r(768)
      display: block
      overflow: hidden

//разделы каталога
.categories
  +rem(padding, 0 20px 55px 54px)
  // +rem(margin-bottom, 55px)
  +r(991)
    +rem(padding, 0 15px 35px 20px)
  +r(544)
    +rem(padding, 0 5px 25px 10px)
  &-wrapper
    +rem(padding, 35px 0 0)
    font-size: 0
    +r(544)
      +rem(padding, 15px 0 0)
  &-elem
    +rem(padding, 20px 15px 165px 27px)
    background: $graybg
    position: relative
    display: block
    transition: background .3s , box-shadow .2s .1s
    +r(1150)
      +rem(padding, 15px 15px 145px 15px)
    +r(544)
      +rem(padding, 15px 15px 115px 15px)
    &-outer
      display: inline-block
      vertical-align: top
      width: 25%
      +rem(padding, 0 5px 5px 0)
      +r(768)
        width: 33%
      +r(544)
        width: 50%
      &:hover
        +rm(991)
          .categories-elem
            z-index: 1
            background: $white
            box-shadow: 2px 3.464px 38px 0px rgba( 0, 0, 0, 0.17 );
          .categories-elem-name
            color: $maind
    &-img
      display: block
      position: absolute
      +rem(bottom, 10px)
      left: 0
      right: 0
      margin: 0
    &-img > img
      +rem(max-width, 205px)
      display: block
      margin: 0 auto
      +rem(max-height, 155px)
      +r(1150)
        +padlr(25px)
        max-width: 100%
      +r(544)
        +rem(max-height, 100px)
    &-name
      +rem(font-size,14px)
      +rem(margin-bottom,5px)
      color: #000
      transition: color .3s
      font-weight: 700
      line-height: 1.43
      +rem(letter-spacing,0.4px)
    &-descr
      +rem(padding-right,55px)
      +rem(min-height,80px)
      +rem(margin-bottom,5px)
      +r(1040)
        word-break: break-all
      +r(768)
        +rem(padding-right,50px)
      .u-text
        .price
          display: inline-block
          +rem(padding-left,5px)
//flags elem        
.flags-wrap
  position: absolute
  +rem(right,15px)
  +rem(top,-5px)
  +r(1080)
    +rem(right,9px)
  .flag-item
    display: inline-block
    float: left
    +rem(width,50px)
    +rem(height,62px)
    position: relative
    +vertical
    &:not(:first-child)
      +rem(margin-left,5px)
    +r(1080)
      +rem(width,44px)
      +rem(height,56px)
      span
        +rem(font-size,13px)
        +rem(line-height,58px)
      &:after
        +rem(bottom,-10px)
        +rem(border-width, 10px 44px 10px 0)
    span
      +rem(font-size,14px)
      +rem(line-height,64px)
      color: $white
      font-weight: 600
      display: inline-block
    &:after
      content: ''
      display: inline-block
      position: absolute
      +rem(bottom,-10px)
      right: 0
      width: 0
      height: 0
      border-style: solid 
      +rem(border-width, 10px 50px 10px 0)
    &.discount 
      background: $main
      &:after
        border-color: transparent $main transparent transparent
    &.hit
      background: $yellow
      &:after
        border-color: transparent $yellow transparent transparent
    &.new
      background: $green
      &:after
        border-color: transparent $green transparent transparent

.brands
  +rem(padding, 0 20px 0 45px)
  border-bottom: 1px solid $border
  +r(991)
    +rem(padding, 0 30px 0 30px)
  +r(544)
    +rem(padding, 0 10px 0 10px)
  &-inner
    white-space: nowrap
  &-outer
    +rem(margin-bottom, 30px)
    position: relative
    .feachres-brand
      top: 34%
      .slick-arrow
        margin: 0
      .carousel-next
        +rem(margin-right, -15px);
        +r(991)
          +rem(margin-right, -25px);
        +r(544)
          +rem(margin-right, -10px);
      .carousel-prev
        +rem(margin-left, -20px);
        +r(991)
          +rem(margin-left, -25px);
        +r(544)
          +rem(margin-left, -10px);
    // +r(1450)
    //   overflow-x: scroll
  &-elem
    display: inline-block
    // +rem(max-width, 165px)
    // +padlr(40px)
    vertical-align: middle
    +rem(margin-bottom, 20px)
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0
    img
      +rem(max-height, 40px)
      display: block
      max-width: 100%
      +r(1280)
        +rem(max-height, 45px)

.b-bottom
  border-bottom: 1px solid $border   
.slider-section  
  +rem(padding, 0 20px 50px 52px)
  +rem(margin-top,43px)
  +r(991)
    +rem(padding, 0 30px 0 30px)
  +r(544)
    +rem(padding, 0 14px 25px 14px)
  &-inner
    .slick-list 
      +rem(margin, -35px -2px -80px -2px)
      +rem(padding, 35px 3px 80px 2px)
  .tabs-head
    position: absolute
    +rem(top,-24px)
    +rem(right,2px)
    z-index: 5
    +r(544)
      +rem(margin-bottom,28px)
  // .u-intro
  //   +rem(margin-bottom,20px)
  //   +r(544)
  //     +rem(margin-bottom,0px)
.product-card
  &-wrapper
    +rem(padding-right, 5px) 
    +rem(padding-top, 5px) 
  &-inner
    display: block
    +rem(padding,15px 15px 44px 16px)
    +rem(min-height,330px)
    position: relative
    +r(544)
      +rem(min-height,260px)
      +rem(padding,15px 12px 44px 12px)
    .u-text
      +clr
      +rem(max-height, 76px)
      overflow: hidden
      .price
        display: inline-block
        +rem(padding-left, 5px) 
  &-outer
    background: $graybg
    position: relative
    z-index: 1
    +rem(padding-bottom,35px)
    transition: background .3s, box-shadow .3s
    +r(544)
      +rem(padding-bottom,15px)
    &:hover
      +rm(991)
        background: $white
        position: relative
        z-index: 2
        box-shadow: 3px 3.5px 37px 0px rgba(0,0,0,0.17);
        .categories-elem-name
          color: $maind
        .product-card-more 
          opacity: 1
          visibility: visible
          background: $white
          box-shadow: 0px 10px 30px 0 rgba(0,0,0,.12)
  &-img
    +rem(height,180px) 
    +rem(margin-bottom,20px) 
    +vertical  
    +r(544)
      +rem(height,120px) 
    img
      vertical-align: middle
      display: inline-block
      max-width: 100%
      +rem(max-height,125px) 
  &-price
    +rem(font-size,18px)
    color: $text
    font-weight: 600
    position: absolute  
    +rem(bottom,0)
    +rem(left,16px)
    .u-graytext
      display: inline-block
      +rem(padding-left, 7px) 
      +r(544)
        display: block
  &-more
    position: absolute
    +rem(bottom,-46px) 
    left: 0
    right: 0
    opacity: 0
    visibility: hidden
    transition: opacity .15s .1s, visibility .15s .1s, background .3s, box-shadow .3s
    +rem(padding,20px 20px 28px 20px)
    background: $graybg
    .btn
        min-width: 0
        width: 100%  
.tabs
  position: relative 
.tabs-cont
  +rem(padding-top,40px)
  +clr
  +r(544)
    padding-top: 0
.tabs-head
  display: inline-block
  font-size: 0
  +clr
  &.slider-tabs
    +rem(width,290px)
    +r(544)
      position: static
      width: 100%
  &.w3
    .tabs-item
      width: 33%
  &.w2,&.w1
    .tabs-item
      width: 50%
  &.w4
    .tabs-item
      width: 25%
  &.w5
    .tabs-item
      width: 20%
  &.t-white
    .tabs-item
      border: 1px solid $white
      color: $white
  .tabs-item
    display: inline-block
    text-align: center
    cursor: pointer
    vertical-align: top
    +rem(padding,5px 0 7px)
    +rem(font-size,11px)
    +nosel
    border: 1px solid #000
    transition: background .3s, color .3s,border-color .3s
    &:hover
      color: $white
      background: $main
      border-color: $main
    &:active
      color: $white
      background: $maind
      border-color: $maind
    &.active
      color: $white
      background: $mainl
      border-color: $mainl
    &:not(:first-child)
      border-left-color: transparent
    &:first-child
       border-top-left-radius: 3px
       border-bottom-left-radius: 3px
    &:last-child
       border-top-right-radius: 3px
       border-bottom-right-radius: 3px
     
.cards-slider-nav
  display: block
  +rem(max-width,200px)
  +rem(margin, 35px auto 0)
  position: relative
  z-index: 2
  text-align: center
  
  .slick-arrow, .cards-slider-counter
    display: inline-block
    vertical-align: middle
  .cards-slider-counter
    +padlr(15px)
    +rem(font-size,16px)
    font-family: intro
    font-weight: 700
    color: $text
    .cards-slider-divider,.cards-slider-total,.cards-slider-current
      display: inline-block
      vertical-align: middle
    .cards-slider-divider
      display: inline-block
      +padlr(8px)
      +rem(font-size,28px)
    .cards-slider-total
      +rem(margin-top,2px)
      color: #c1c1c1
  .slick-arrow
    +rem(width,47px)
    +rem(height,15px)
    background: 0 0 
    &.slick-disabled
      opacity: .6
      pointer-events: none
    .icon
      .slider-arr
        transition: fill .3s
    &:hover
      .icon
        .slider-arr
          fill: $maind
    &:active
      .icon
        .slider-arr
          fill: $mhover
.news-section
  +rem(padding, 0 20px 50px 52px)
  +rem(margin-top,40px)
  +r(991)
    +rem(padding, 0 30px 0 30px)
  +r(544)
    +rem(padding, 0 14px 25px 14px)
  .news-container
    +rem(margin-top,33px)
  .news-block-outer
    &:nth-child(n+3)
      .news-block-inner
        border-bottom: 1px solid $border
      .news-block-inner,.news-block-content
        background: $white !important
      .news-block-content,.news-block-name
        position: static
        line-height: 1
      .u-graytext
        +rem(font-size,13px)
        +rem(margin-bottom,15px)
        line-height: 0
        display: inline-block
      .u-intro
        text-transform: none
        font-family: 'Open Sans'
        line-height: 1.5
        +rem(font-size,14px)
    &:nth-child(n+3)
      .u-intro
        +rem(height,62px)
        overflow: hidden
      .news-block-inner
        &:hover
          .u-intro 
            color: $maind
    &:nth-child(3)
      .news-block-inner
        +rem(padding-bottom,20px)
    &:nth-child(n+4)
      .news-block-inner
        +rem(padding,24px 0 10px)
        +r(768)
          +rem(padding,20px 0 24px)
.news-container
  +rem(margin-left,-30px)
  +clr
  +r(1150)
    +rem(margin-left,-15px)
.news-block
  &-outer
    display: inline-block
    float: left
    width: 33.33%
    min-height: 1px
    +rem(padding-left,30px)
    +r(1150)
      +rem(padding-left,15px)
    +r(768)
      width: 100% 
      +rem(margin-bottom,10px)
    &:first-child,&:nth-child(2)
      +rem(height,346px)
      .u-intro
        line-height: 1.75 
    &:first-child
      .news-block-name
        +rem(letter-spacing, 0.8px)
        +rem(padding,0 32.5px 28px 32.5px)
      .u-intro
        color: $white
      .u-graytext 
        display: inline-block
        +rem(margin-bottom,10px)
        +rem(font-size,13px)
        color: $white
    &:nth-child(2)
      .news-block-name
        +rem(letter-spacing, 0.8px)
        +rem(padding,21px 0 37px)
        background: $white
      .u-graytext 
        display: inline-block
        +rem(margin-bottom,10px)
        +rem(font-size,13px)
      .news-block-inner
        &:hover
          .news-block-name
            .u-intro
              color: $maind
  &-inner
    display: block
    height: 100%
    position: relative
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    &:hover
      .news-block-content
        background-color: rgba(0, 0, 0, 0.65);
  &-content
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute
    bottom: 0
    left: 0
    top: 0
    right: 0
    margin: 0
    transition: background .3s
    &-inner
      position: relative
      width: 100%
      height: 100%
  &-name
    position: absolute
    bottom: 0
    left: 0
    right: 0
    .u-intro
      transition: color .3s

//index contact section
.contact-cont
  +rem(height,538px)
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  +r(800)
    +rem(height,390px)
  #map
    height: 100%
    &* 
      overflow: visible
.contact-section
  position: relative
  .tabs-head
    position: absolute
    z-index: 5
    +rem(width,150px)
    +rem(top,65px)
    +rem(right,25px)
    +r(800)
      +rem(top,25px)
      +rem(right,15px)
.info
  &-cont
    +rem(width,765px)
    position: relative
    z-index: 5
    +rem(margin-top,-192px)
    +rem(margin-right,25px)
    background: $main2
    float: right
    +rem(padding, 48px 42px)
    +r(800)
      +rem(margin,0)
      width: 100%
      +rem(padding,30px 15px)
  &-title 
    display: inline-block
    float: left
    +rem(width, 279px)
    +rem(padding-right, 35px)
    .u-intro
      line-height: 1.75;
    +r(600)
      width: 100%

  &-content
    display: block
    overflow: hidden
    font-size: 0
    +clr
    +r(600)
     display: inline-block
    .col-50
      +r(768)
        float: none
    .contact-block
      .u-graytext
        +rem(min-height,19px)
    p 
      +rem(margin-bottom,20px)
      line-height: 1.85;
    .categories-elem-name
      +rem(margin-bottom,11px)
  &-footer
    +rem(padding-left, 279px)
    +rem(margin-top,10px)
    position: relative
    +r(480)
      padding-left: 0
      .small-link
        display: none
    .small-link
      position: absolute
      left: 0


//link 'more' back .ect
.link-nav
  display: inline-block
  +rem(font-size, 14px)
  font-weight: 700
  color: $main
  +rem(letter-spacing, 0.4px)
  position: relative
  &:after,&:before
    content: ''
    position: absolute
    display: inline-block
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    +rem(width,45px)
    +rem(height,13px)
    transition: opacity .3s
    +rem(bottom,3px)
  &:after
    background-image: url(../img/icons/arrow.svg) 
  &:before
    background-image: url(../img/icons/arrow_hover.svg)
    opacity: 0 
  &:hover
    color: $maind
    &:after
      opacity: 0 
    &:before
      opacity: 1 
  &:active
    color: $mhover
  &.right
    +rem(padding-right,60px)
    &:before,&:after
      right: 0

//small links
.small-link
  display: inline-block
  +rem(font-size, 11px)
  font-weight: 400
  cursor: pointer
  span
    position: relative
    transition: color .3s
    +rem(padding-left,20px)
    &:after,&:before
      content: ''
      position: absolute
      display: inline-block
      background-size: contain
      background-repeat: no-repeat
      background-position: center
      +rem(width,14px)
      +rem(height,18px)
      transition: opacity .3s
      left: 0
    &:before
      opacity: 0  
  &:hover
    span
      color: $maind
      &:after
        opacity: 0 
      &:before
        opacity: 1 
  &:active
    color: $mhover 
  &.blue
    color: $main
  &.marker
    span
      &:after
        background-image: url(../img/icons/download_map.svg) 
      &:before
        background-image: url(../img/icons/download_maph.svg)
  &.close
    span
      &:after
        background-image: url(../img/icons/close_popup.svg) 
      &:before
        background-image: url(../img/icons/close_popup_hover.svg)
.link-dotted
  display: inline-block
  border-bottom: solid
  border-width: 1px;
  +rem(font-size, 12px)
  border-image: url(../img/bdot.svg) 0 0 100 repeat stretch;
  &:hover
    border-image: 0
    border-color: transparent
//modal-window
.modal-layout
  position: fixed
  left: 0
  right: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  margin: 0
  background: rgba(0,0,0,0.3)
  z-index: 200
  opacity: 0
  visibility: hidden
  +tr(opacity .3s)
  +vertical
  &.active
    visibility: visible
    opacity: 1
  .modal-container
    display: inline-block
    vertical-align: middle 
    +rem(min-width,320px)
    +rem(margin-top,-200px)
    max-height: 100%;
    overflow-y: auto 
    +r(544)
      margin-top: 0
    &-content 
      +clr 
      display: block
      +rem(min-height,20px)
      .u-text
        +rem(font-size,11px)
        line-height: 1.85
      .u-intro
        +rem(margin-bottom,10px)
      .t-blue
        +rem(letter-spacing,0.8px)
    &-content,&-header 
      text-align: left
    &-header
      background: $main2
      +rem(padding,25px 25px 15px)
      position: relative
      .small-link
        position: absolute
        +rem(top,5px)
        +rem(right,0px)
  &.modal-big
    .modal-container
      +rem(max-width,714px)
      width: 100%
      background: $white
      &-content
        +rem(padding,20px 25px 40px 25px)
  &.modal-small
    .modal-container
      +rem(max-width,364px)
      width: 100%
      background: $white
      &-content
        +rem(padding,28px 30px 35px 30px)
.modal-enter
  .col-50
    &:first-of-type
      +rem(padding, 20 25px 40px 0)
      +rem(margin,-20 0 -40px)
      border-right: 1px solid $border
      +r(544)
        margin: 0
        padding: 0
        border: none
    &:last-of-type
      +rem(padding-left,25px)
      +r(544)
        padding-left: 0
        +rem(padding-top,25px)
        border: none
    .link-dotted
      +rem(margin-top,5px)
      float: right
    .input-wrapper:last-of-type
      +rem(margin-bottom,25px)
    .t-blue
      +rem(min-width,100px)
    .t-trans
      +rem(margin-top,18px)
      line-height: 1.1
    +r(544)
      width: 100%
.modal-pass-forgot-succes
  .btn
    +rem(margin-top,20px)
    +rem(min-width,117px)
//inputs
.input-wrapper
  +rem(margin-bottom,9px)
  position: relative
  +clr
  .u-graytext 
    display: inline-block 
    width: 100% 
    +rem(margin-bottom,5px)
    .text
      &:after
        content: '*'
        color: red
        +rem(padding-left,2px)
  .input-main
    display: inline-block
    width: 100%
    resize: none
    border: 1px solid $border
    +rem(border-radius,3px)
    +rem(min-height,30px)
    +rem(padding,0px 5px)
    box-shadow: none
    &.error
      border-color: red
.bread-container
  .bread-item
    color: $text
    display: inline-block
    position: relative
    +rem(font-size,11px)
    transition: opacity .3s
    &:not(:first-child)
      +rem(padding-left, 22px)
      &:before
        content: ''
        position: absolute
        display: inline-block
        bottom: 3px
        +rem(width,14px)
        +rem(left,4px)
        +rem(bottom, 1px)
        +rem(height,9px)
        background-image: url(../img/icons/barrow.svg)
        background-size: contain
        background-repeat: no-repeat
        background-position: center
    &:not(:last-child)
      text-decoration: underline
    &:last-child
      pointer-events: none
    &:hover
      text-decoration: none
.content-head
  +rem(padding, 20px 25px 34px 52px)
  background-color: $main2  
  background-position: center
  background-size: cover
  background-repeat: no-repeat 
  position: relative 
  +r(991)
    +rem(padding, 25px 30px 25px 30px)
  +r(544)
    +rem(padding, 15px 14px 25px 14px)
  .u-intro
    +rem(margin-top,16px)
  &.content-image
    &:before
      content: ''
      display: block
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      width: 100%
      height: 100%
      background: rgba(0,0,0, 0.5)
      z-index: 0
    .bread-item
      color: $white
      &:not(:first-child)
        opacity: 0.8
        &:hover
          opacity: 1
        &:before
          background-image: url(../img/icons/warrow.svg)
          transform: rotate(0)
    .u-intro
      color: $white
      position: relative
      z-index: 1
.content-head + .categories + .slider-section
  padding-bottom: 0



    
    





