meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="format-detection" content="telephone=no")
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='theme-color', content='#0432da')
meta(name='format-detection', content='telephone=no')
meta(name='format-detection', content='address=no')
link(rel="stylesheet" media="all" href="css/screen.css")
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic', rel='stylesheet')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDanQ-UHb2wM8kRInfW5Dt0cO-3f1a7nH4')
script(src="js/app.js")
