meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="format-detection" content="telephone=no")
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='theme-color', content='#0432da')
meta(name='format-detection', content='telephone=no')
meta(name='format-detection', content='address=no')
link(rel="stylesheet" media="all" href="css/screen.css")
script(src="js/app.js")
