//бэкграунд модалки. 2 класс определяет размер, последний класс определяет что за модалка (.modal-enter для входа в кабинет и тд)
.modal-layout.modal-big.modal-enter
  //контейнер модалки
  .modal-container
    .modal-container-header
      .u-intro.h1 Кабинет
      i.small-link.close.js-modal-closer
        span
    .modal-container-content
      .col-50
        .u-intro.h3 Вход
        form(action="/").form.js-form-validate
          .input-wrapper
            label.u-graytext 
              span.text E-mail
            input.input-main(type='text',name="", placeholder = 'Иванов Степан Иванович')
          .input-wrapper
            label.u-graytext 
              span.text Пароль
            input.input-main(type='email',name="", placeholder = 'info@mail.com')
            a(href="#").link-dotted Забыли пароль?
          button.btn.t-blue.btn-small(type="submit") Войти
      .col-50
        .u-intro.h3 Регистрация
        .u-text Нет аккаунта? Зарегистрируйтесь на нашем сайте и совершать покупки станет намного удобней
        a(href="#").btn.t-trans.btn-small Зарегистрироваться
//бэкграунд модалки
.modal-layout.modal-small.modal-subscribe
  //контейнер модалки
  .modal-container
    .modal-container-header
      .u-intro.h1 Подписка на новости и акции
      i.small-link.close.js-modal-closer
        span
    .modal-container-content
      form(action="/").form.js-form-validate
        .u-text.lt Подпишитесь на новости и акции и получайте только самую свежую информацию
        .input-wrapper
          label.u-graytext 
            span.text E-mail
          input.input-main(type='email',name="", placeholder = 'qwerty@mail.ru')
        button.btn.t-blue.btn-small(type="submit") Подписаться 
.modal-layout.modal-small.modal-subscribe-succes
  //контейнер модалки
  .modal-container
    .modal-container-header
      .u-intro.h1 Спасибо
      i.small-link.close.js-modal-closer
        span
    .modal-container-content
      .u-text Мы рады, что вы подписалыси на рассылку новостей и скидках. Настроить подписку вы сможете в личном 
        a(href="#") Кабинете.
      button.btn.t-blue.btn-small.js-modal-closer(type="submit") Закрыть              
//бэкграунд модалки
.modal-layout.modal-small.modal-pass-forgot
  //контейнер модалки
  .modal-container
    .modal-container-header
      .u-intro.h1 Пароль
      i.small-link.close.js-modal-closer
        span
    .modal-container-content
      form(action="/").form.js-form-validate
        .input-wrapper
          label.u-graytext 
            span.text E-mail
          input.input-main(type='text',name="", placeholder = 'Иванов Степан Иванович')
        button.btn.t-blue.btn-small(type="submit") Восстановить
.modal-layout.modal-small.modal-pass-forgot-succes
  //контейнер модалки
  .modal-container
    .modal-container-header
      .u-intro.h1 Пароль
      i.small-link.close.js-modal-closer
        span
    .modal-container-content
      .u-text На указанный вами e-mail в течение 5 минут будет выслано письмо с регистрационными данными. 
      button.btn.t-blue.btn-small.js-modal-closer(type="submit") Закрыть
.modal-layout.modal-medium.modal-roofs
  //контейнер модалки
  .modal-container
    .modal-container-header
      .u-intro.h1 Расчeт металлочерепицы
      i.small-link.close.js-modal-closer
        span
    .modal-container-content
      .roofs-wrapper
        .u-text.bold 1. Выберите вид крыши
        .tabs.js-tabs-wrap
          .tabs-head.w5
            .tabs-item.js-tab-trigger
              span.roof-img(style='background-image: url(img/roof/1.png)')
              .u-graytext Двухскатная
            .tabs-item.js-tab-trigger
              span.roof-img(style='background-image: url(img/roof/2.png)')
              .u-graytext Вальмовая
            .tabs-item.js-tab-trigger
              span.roof-img(style='background-image: url(img/roof/3.png)')
              .u-graytext Шатровая
            .tabs-item.js-tab-trigger
              span.roof-img(style='background-image: url(img/roof/4.png)')
              .u-graytext Мансардная
            .tabs-item.js-tab-trigger
              span.roof-img(style='background-image: url(img/roof/5.png)')
              .u-graytext Многоскатная
          .u-text.bold 2. Укажите размер крыши
          .tabs-body
            .tabs-cont
              .roof-img-wrap
                img(src="img/roof/dom.png", alt="")
              .roof-form-wrap
                form(action='').roof-form
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title X:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title X:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                .roof-total
                  .roof-total-cont
                    span.u-graytext Количество металлочерепицы: 
                    span.roof-total-result 7
                      span м²
            .tabs-cont
              .roof-img-wrap
                img(src="img/roof/dom.png", alt="")
              .roof-form-wrap
                form(action='').roof-form
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title X:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title X:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                .roof-total
                  .roof-total-cont
                    span.u-graytext Количество металлочерепицы: 
                    span.roof-total-result 7
                      span м²
            .tabs-cont
              .roof-img-wrap
                img(src="img/roof/dom.png", alt="")
              .roof-form-wrap
                form(action='').roof-form
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title X:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title X:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:

                .roof-total
                  .roof-total-cont
                    span.u-graytext Количество металлочерепицы: 
                    span.roof-total-result 7
                      span м²
            .tabs-cont
              .roof-img-wrap
                img(src="img/roof/dom.png", alt="")
              .roof-form-wrap
                form(action='').roof-form
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title X:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title X:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:

                .roof-total
                  .roof-total-cont
                    span.u-graytext Количество металлочерепицы: 
                    span.roof-total-result 7
                      span м²
            .tabs-cont
              .roof-img-wrap
                img(src="img/roof/dom.png", alt="")
              .roof-form-wrap
                form(action='').roof-form
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title X:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title X:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:
                  .input-wrapper
                    input.input-main(type='text',name="", data-type='м')
                    span.input-title L:

                .roof-total
                  .roof-total-cont
                    span.u-graytext Количество металлочерепицы: 
                    span.roof-total-result 7
                      span м²
.modal-layout.white.modal-product
  .modal-container-header
    .u-text.bold Фото
    i.small-link.close.js-modal-closer
      span
  .white-thumbs
  .white-content
    .product-modal-slider
    .white-nav
      .cards-slider-nav
        .cards-slider-counter
          span.cards-slider-current
          span.cards-slider-divider /
          span.cards-slider-total