<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#0432da">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="stylesheet" media="all" href="css/screen.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet">
    <script src="js/app.js"></script>
  </head>
  <body>
    <!--BEGIN out-->
    <div class="out">
      <div class="page__outer">
        <div class="page__wrapper">
          <header class="page__header"></header>
          <!--combine menu and content-->
          <div class="page__wrapper-inner">
            <aside class="page__menu">
              <nav class="page__menu--inner">
                <div class="c-menu-block t-blue main">
                  <ul class="menu-list">
                                        <li class="menu-item js-desktop-hover"><a href="#" data-elem="1">Кровельные материалы</a></li>
                                        <li class="menu-item js-desktop-hover"><a href="#" data-elem="2">Водосточные системы</a></li>
                                        <li class="menu-item js-desktop-hover"><a href="#" data-elem="3">Металлопрокат</a></li>
                                        <li class="menu-item js-desktop-hover"><a href="#" data-elem="4">Забор</a></li>
                                        <li class="menu-item js-desktop-hover"><a href="#" data-elem="5">Доборные элементы</a></li>
                                        <li class="menu-item js-desktop-hover"><a href="#" data-elem="6">Гипсокартоннче профили</a></li>
                  </ul>
                </div>
                <div class="c-menu-block add">
                  <div class="o-menu-search">
                    <form class="search__wrapper">
                      <input class="search__input" type="text">
                      <button class="search__btn" type="submit"></button>
                    </form>
                  </div>
                  <ul class="menu-list">
                                        <li class="menu-item"><a href="#">Компания</a></li>
                                        <li class="menu-item"><a href="#">Оплата и доставка</a></li>
                                        <li class="menu-item"><a href="#">База знаний</a></li>
                                        <li class="menu-item"><a href="#">Контактная информация</a></li>
                  </ul>
                </div><a class="c-menu-block footer u-graytext" href="mailto:#">
                  <p>2016 © ООО АрсеналМеталл</p>
                  <p class="mailto">info@arsenalmetall.by</p></a>
              </nav>
              <div class="menu-dropdown-wrapper">
                <div class="menu-dropdown-inner">
                  <div class="menu-dropdown-cont" data-elem="1">
                    <ul class="menu-dropdown-list">
                                            <li class="menu-dropdown-item"><a href="#">Металлочерепица</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Доборные элементы кровли</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Профнастил</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Саморезы кровельные</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Зонты для дымоходов</a></li>
                    </ul>
                  </div>
                  <div class="menu-dropdown-cont" data-elem="2">
                    <ul class="menu-dropdown-list">
                                            <li class="menu-dropdown-item"><a href="#">труба</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Лист оцинкованный труба</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Лист оцинкованный окрашенный труба</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Уголок труба</a></li>
                    </ul>
                  </div>
                  <div class="menu-dropdown-cont" data-elem="3">
                    <ul class="menu-dropdown-list">
                                            <li class="menu-dropdown-item"><a href="#">труба2</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Лист оцинкованный труб2а</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Лист оцинкованный окрашенный труба2</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Уголок труб2а</a></li>
                    </ul>
                  </div>
                  <div class="menu-dropdown-cont" data-elem="4">
                    <ul class="menu-dropdown-list">
                                            <li class="menu-dropdown-item"><a href="#">труба4</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Лист оцинкованный труб4а</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Лист оцинкованный окрашенный труба4</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Уголок труб2а4</a></li>
                    </ul>
                  </div>
                  <div class="menu-dropdown-cont" data-elem="5">
                    <ul class="menu-dropdown-list">
                                            <li class="menu-dropdown-item"><a href="#">труба5</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Лист оцинкованный труб5а</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Лист оцинкованный окрашенный труба5</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Уголок труб2а45</a></li>
                    </ul>
                  </div>
                  <div class="menu-dropdown-cont" data-elem="6">
                    <ul class="menu-dropdown-list">
                                            <li class="menu-dropdown-item"><a href="#">труба5fffff</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Лист оцинкованнffый труб5а</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Лист оцинкованный окрашенный труба5</a></li>
                                            <li class="menu-dropdown-item"><a href="#">Уголок труб2а45</a></li>
                    </ul>
                  </div>
                  <div class="c-menu-block footer"><a href="#">Калькулятор кровли</a></div>
                </div>
              </div>
            </aside>
            <section class="page__content"><span>olololo</span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111	span olololo
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsum maxime, tempora deserunt minima suscipit voluptatem possimus ratione inventore eveniet autem esse accusamus eos quibusdam consequuntur quia officiis eum! Et! 1111
              <footer class="footer"><a href="#">sdsdsdsd</a></footer>
            </section>
          </div>
        </div>
      </div>
    </div>
    <!--END out-->
  </body>
</html>