extends _layout

block title
  title Корзина 

block content
  //тут есть 2 типа, с картинкой на бэкграунде + белый текст и монотонный бэкграунд без картинки + черный текст. .content-image для 1го варианта
  section.content-head.content-image(style= 'background-image:url(img/content-head.jpg)')
    .bread-container
      a(href="#").bread-item Главная
      a(href="#").bread-item Корзина
    h1.u-intro.h1 Корзина
  .error-wrapper
    .error-img
      .error-img-inner(style='background-image: url(img/errors/cart_empty.svg)')
    .error-msg
      h2.u-intro.h2 Ваша корзина пуста
      .u-text.lt Ваша корзина к сожалению пуста. Для старта покупок, зайдите в 
        a(href="#") Каталог 
        | нашего интернет- магазина.  Ассортимент товаров для кровли и строительства весьма широк, чтобы удовлетворить даже самый взыскательный запрос любого клиента.
      a(href="#").btn.t-blue.btn-standart Начать покупки









  