extends _layout

block title
  title Ошибка

block content
  section.content-head
    .bread-container
      a(href="#").bread-item Главная
      a(href="#").bread-item 404
    h1.u-intro.h1 Ошибка
  .error-wrapper._404
    .error-img
      .discount-size
        |404
    .error-msg
      h2.u-intro.h2 Ой, страницане найдена
      .u-text.lt К сожалению, запрашиваемая вами страница не найдена. Воспользуйтесь поиском или вернитесь на главную страницу
      a(href="#").btn.t-blue.btn-standart Вернуться на главную









  