extends _layout

block title
  title Оплата заказа

block content
  //тут есть 2 типа, с картинкой на бэкграунде + белый текст и монотонный бэкграунд без картинки + черный текст. .content-image для 1го варианта
  section.content-head.content-image(style= 'background-image:url(img/content-head.jpg)')
    .bread-container
      a(href="#").bread-item Главная
      a(href="#").bread-item Корзина
      a(href="#").bread-item Оформление заказа
    h1.u-intro.h1 Оформление заказа
  .error-wrapper
    .error-msg.offer
      h2.u-intro.h2 Оплата заказа
      .u-black
        | Оплатите пожалуйста ваш заказ №124 от 12.09.2016. Номер оплаты: №6/1.
      .u-text.lt 
        |Вы можете оплатить как полную стоимость заказа, так и внести предоплату (минимальныз размер составляет 30% от суммы заказа). 
    .error-aside
      .card.card-yell
        .price-wrap
          .price-row
            .u-graytext.jel Способ оплаты
            .card-img
              img(src="img/payment/visa.svg", alt="")
          .price-row
            .u-graytext.jel Итого
            //id и data-price для ползунка. в data-price цену пихать без пробела
            #total-price.u-text.bigger(data-price='950025.90').bold 950025.90 p.
          .divider
          form(action="")
            .prepay-wrap
              .u-graytext.jel Размер предоплаты
              .input-wrapp
                .fake-bg
                  .fake-bg-text
                  .fake-bg-currency
                    | р.
                input#amount.prepay-input(autocomplete= 'off',type='number')
              p.u-text.error-text(data-text-error-min = 'Введите сумму больше 30%', data-text-error-max = 'Введите сумму меньше 100%')
              #rangeinput
            button.btn.t-blue.btn-standart(type="submit") Оплатить









  