extends _layout

block title
  title Персональная скидка

block content
  //тут есть 2 типа, с картинкой на бэкграунде + белый текст и монотонный бэкграунд без картинки + черный текст. .content-image для 1го варианта
  section.content-head.content-image(style= 'background-image:url(img/content-head.jpg)')
    .bread-container
      a(href="#").bread-item Главная
      a(href="#").bread-item Корзина
      a(href="#").bread-item Персональная скидка
    h1.u-intro.h1 Персональная скидка
  section.filter-section.b-bottom
    .filter-container.acc-filter
      .mobile-dropdowm-trigger
        span.u-bold Открыть меню
        i.arrow-icon
      .filter-form
        .filter-form-inner 
          mixin accmenu(val)
            - var current = "Персональная скидка"
            .acc-menu-item(class={active: val === current})
              a(href="#") #{val}
          +accmenu('История заказов')
          +accmenu('Мои данные')
          +accmenu('Изменить пароль')
          +accmenu('Персональная скидка')
          +accmenu('Подписка')
          a(href="#").small-link.exit 
            span Выйти    
  .error-wrapper
    .error-img
      .discount-size
        |7%
    .error-msg
      h2.u-intro.h2 Ваша скидка
      .u-text.lt Мы очень рады видеть вас среди наш клиентов, поэтому дарим скидку на покупку всех товаров в нашем интернет-магазине. Желаем вам приятных покупок вместе с нашей компанией «АрсеналМеталл».
      a(href="#").btn.t-blue.btn-standart Начать покупки









  