extends _layout

block title
  title Подписка

block content
  //тут есть 2 типа, с картинкой на бэкграунде + белый текст и монотонный бэкграунд без картинки + черный текст. .content-image для 1го варианта
  section.content-head.content-image(style= 'background-image:url(img/content-head.jpg)')
    .bread-container
      a(href="#").bread-item Главная
      a(href="#").bread-item Корзина
      a(href="#").bread-item Подписка
    h1.u-intro.h1 Подписка
  section.filter-section.b-bottom
    .filter-container.acc-filter
      .mobile-dropdowm-trigger
        span.u-bold Открыть меню
        i.arrow-icon
      .filter-form
        .filter-form-inner 
          mixin accmenu(val)
            - var current = "Подписка"
            .acc-menu-item(class={active: val === current})
              a(href="#") #{val}
          +accmenu('История заказов')
          +accmenu('Мои данные')
          +accmenu('Изменить пароль')
          +accmenu('Персональная скидка')
          +accmenu('Подписка')
          a(href="#").small-link.exit 
            span Выйти    
  .column-wrap
    form(action="")
      .form-msg-wrapp
        h2.u-intro.h2.result.succes Изменения успешно внесены
      .column-content
        .side-wrap
          .side-title
            h2.u-intro.h2 получайте только интесный вам контент
          .side-cont
            .headcont
              .headcont-head
                h3.u-intro.h3 Настройка подписки
              .headcont-body
                .headcont-wrapp
                  .headcont-title
                    .u-title Настройка подписки
                  //вешаем класс сюда
                  .headcont-item.js-subscribe-container
                    //value инпута должно совпадать с data-type 
                    .select-u-item
                      label.input_label
                        span.input_main
                          input.input-real(type="checkbox",value ='Email')
                          span.input-checked
                        span.input-text Отправляйте на e-mail
                    .select-u-item
                      label.input_label
                        span.input_main
                          input.input-real(type="checkbox",value ='sms')
                          span.input-checked
                        span.input-text Отправляйте по SMS
                    //класс нужен, чтобы ничего не разлеталось
                    .input-wrapper.subscribe-wrapper(data-type="Email")
                      label.u-graytext 
                        span.text E-mail
                      input.input-main(type='text',name="", placeholder = 'example@mail.com',data-validation="email required",data-validation-error-msg="Поле обязательно для заполнения")
                .headcont-wrapp
                  .headcont-title
                    .u-title Мне интересны рубрики
                  .headcont-item
                    .select-u-item
                      label.input_label
                        span.input_main
                          input.input-real(type="checkbox",value ='News',)
                          span.input-checked
                        span.input-text Новости
                    .select-u-item
                      label.input_label
                        span.input_main
                          input.input-real(type="checkbox",value ='Akcii',)
                          span.input-checked
                        span.input-text Акции
                    .select-u-item
                      label.input_label
                        span.input_main
                          input.input-real(type="checkbox",value ='Database',)
                          span.input-checked
                        span.input-text База знаний                     
            button(type='submit').btn.t-blue.btn-standart Сохранить
      .column-aside








  