extends _layout

block title
  title О компании

block content
  //тут есть 2 типа, с картинкой на бэкграунде + белый текст и монотонный бэкграунд без картинки + черный текст. .content-image для 1го варианта
  section.content-head.content-image(style= 'background-image:url(img/content-head.jpg)')
    .bread-container
      a(href="#").bread-item Главная
      a(href="#").bread-item О компании
    h1.u-intro.h1 О компании
  section.filter-section.b-bottom
    .filter-container.acc-filter
      .mobile-dropdowm-trigger
        span.u-bold Открыть меню
        i.arrow-icon
      .filter-form
        .filter-form-inner 
          mixin compmenu(val)
            - var current = "О компании"
            .acc-menu-item(class={active: val === current})
              a(href="#") #{val}
          +compmenu('О компании')
          +compmenu('Новости и акции')
          +compmenu('Вакансии')
  section.content-section
    .side-wrap
      .side-title
        h3.u-intro.h2 «АрсеналМеталл» является торгово- производственным предприятием
      .side-cont
        .u-black Наши специалисты постараются, как можно наиболее оптимально подобрать нужное количество товара, как для частных лиц, так и для организаций, что при покупке повлечет за собой неизбежное удешевление общей стоимости заказа. 
        //для текста, разбитого на колонки
        .cols
          p На фирме действует гибкая система скидок, проводятся различные акции по скидкам, можем оказать помощь по доставке товара.
          p При размещении заказа на нашем предприятии стараемся выполнять их качественно и в крат- чайшие сроки. Благодаря индивидуальному подходу к каждому клиенту наша организация сотрудничает с частным сектором, а также с государственными и частными предприятиями.
          p Возможности нашей компании по организации поставок кровельных материалов и металло- проката в необходимом объеме и ассортименте обеспечат высокую эффективность работы наших клиентов. И мы гордимся тем, что сможем помочь им достичь успехов! Мы надеемся на плодотворное сов-местное сотрудничество с новыми и с существующими клиентами! 
        .slider-wrapper
          .slider-inner.slider-big
            mixin contentbig(src)
              .slider-container
                .slider-item(style='background-image: url('+ src+ ')')
            +contentbig('img/content.png')
            +contentbig('img/content.png')
            +contentbig('img/content.png')
            +contentbig('img/content.png')
            +contentbig('img/content.png')
            +contentbig('img/content.png')
            +contentbig('img/content.png')
          .cards-slider-nav
            .cards-slider-counter
              span.cards-slider-current
              span.cards-slider-divider /
              span.cards-slider-total
        script.
          function cards(){
            $( ".slider-big").each( function() {
              var _this = $(this);

              slidesCount(_this);
              _this.slick({
                accessibility: true,
                arrows: true,
                draggable: false,
                touchMove: false,
                infinite: false,
                slidesToShow: 1,
                slidesToScroll: 1,
                appendArrows: _this.siblings('.cards-slider-nav'),
                nextArrow:'<button type="button" class="carousel-next"><div class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 45.9 14" style="enable-background:new 0 0 45.9 14;" xml:space="preserve"><style type="text/css">.slider-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#353535;}</style><g><g><polygon class="slider-arr" points="45.9,6.8 38.9,0 37.9,1 42.9,6 0,6 0,7.5 43,7.5 37.6,12.9 38.7,14 45.7,7 "/></g></g></svg></div></button>',
                prevArrow:'<button type="button" class="carousel-prev"><div class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 45.9 14" style="enable-background:new 0 0 45.9 14;" xml:space="preserve"><style type="text/css">.slider-arr{fill:#353535;}</style><g><g><polygon class="slider-arr" points="0.2,7 7.2,14 8.3,12.9 2.9,7.5 45.9,7.5 45.9,6 3,6 8,1 7,0 0,6.8     "/></g></g></svg></div></button>',
              }); 
            });
          } cards();
        p При размещении заказа на нашем предприятии стараемся выполнять их качественно и в кратчайшие сроки. Благодаря индивидуальному подходу к каждому клиенту наша организация сотрудничает с частным сектором, а также с госуда-рственными и частными предприятиями. Мы надеемся и в будущем на плодо- творное совместное сотрудничество с новыми и с существующими клиентами!
    .side-wrap
      .side-title
        .u-intro.h2 Преимущества нашей компании
      .side-cont
        ul
          li Высококвалифицированные специалисты, постоянно отслеживают современные тенденции развития индустрии и формируют самые привлекательные и актуальные предложения. 
          li Предлагая потенциальным заказчикам различные формы сотрудничества, мы ориентируемся, прежде всего, на предоставлении взаимовыгодных условий, гарантируя точное соблюдение графика поставок, объективные цены и возможность пользования гибкой системой скидок. 
          li Это помогает нам постоянно увеличивать клиентскую базу, привлекая новых и поддерживая заинтересованность существующих заказчиков различными акциями и специальными предложениями. 
          li Мы работаем как с юридическими лицами, компаниями-застройщиками и владельцами магазинов строительных материалов, так и с частными заказчиками, желающими приобрести сайдинг или кровельный материал для дома по доступным ценам.
    .side-wrap
      .side-title
        .u-intro.h2 Мы предлагаем невероятные условия
      .side-cont
        .specials-wrapper
          mixin specials(name,text)
            .specials-item
              .specials-name.u-intro.h3
                |#{name}
              p.specials-text #{text}
          +specials('Качество','При размещении заказа на нашем предприятии стара- емся выполнять их качественно и в кратчайшие сроки. Благо- даря индивидуальному подходу к каждому клиенту наша организация сотрудничает с частным сектором.')
          +specials('Возможности','Возможности нашей компа- нии по организации поставок кровельных материалов и металлопроката в необхо- димом объеме и ассортименте обеспечат высокую эффекти- вность работы наших клиентов.')
          +specials('Эффективность','При размещении заказа на нашем предприятии стараемся выполнять их каче- ственно и в кратчайшие сроки. Благодаря индивидуальному подходу к каждому клиенту наша организация сотрудни- чает с частным сектором.')
          +specials('Сертификаты','При размещении заказа на нашем предприятии стара- емся выполнять их качественно и в кратчайшие сроки. Благодаря индивидуальному подходу к каждому клиенту наша органи- зация сотрудничает с частным сектором.')
          +specials('Исполнительность','Возможности нашей компании по организации поставок кровельных материалов и металлопроката в необхо- димом объеме и ассортименте обеспечат высокую эффекти- вность работы наших клиентов.')
        blockquote
          | Портфолио Арсеналметалл насчитывает 1 110 000 м2 реализованных площадей и включает уникальные проекты, от самых современных бизнес-центров до элитных жилых комплексов и школ мирового уровня.






  