extends _layout

block title
  title результаты Поиска

block content
  //тут есть 2 типа, с картинкой на бэкграунде + белый текст и монотонный бэкграунд без картинки + черный текст. .content-image для 1го варианта
  section.content-head.content-image(style= 'background-image:url(img/content-head.jpg) ')
    .bread-container
      a(href="#").bread-item Главная
      a(href="#").bread-item Поиск
    h1.u-intro.h1 результаты Поиска
  // а вот тут если результата нету, то удаляем .b-bottom и можно выплевывать пустой .products-outer
  section.filter-section.b-bottom
    .search-wrapper
      form(action="")
        .o-menu-search
          .search__wrapper
            input(type="text" placeholder= 'Поиск').search__input
            button(type='submit').search__btn
              i.search-icon
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 17 17', style='enable-background:new 0 0 17 17;', xml:space='preserve')
                  style(type='text/css').
                    .search-i{fill-rule:evenodd;clip-rule:evenodd;fill:#939393;}
                  g
                    g
                      path.search-i(d='M10.5,0C6.9,0,4,2.9,4,6.5c0,1.4,0.4,2.6,1.1,3.7L0,15.3L1.7,17l5.1-5.1c1,0.7,2.3,1.1,3.7,1.1\
                      c3.6,0,6.5-2.9,6.5-6.5C17,2.9,14.1,0,10.5,0z M10.5,11.3c-2.7,0-4.8-2.2-4.8-4.8s2.2-4.8,4.8-4.8s4.8,2.2,4.8,4.8\
                      S13.1,11.3,10.5,11.3z')
        .headcont-item.select-radio
          .select-u-item
            label.input_label
              span.input_main
                input.input-real(type="radio",name='offertype',value = 'fiz')
                span.input-checked
              span.input-text По каталогу
          .select-u-item
            label.input_label
              span.input_main
                input.input-real(type="radio",name='offertype',value = 'jur')
                span.input-checked
              span.input-text По тексту
      .search-result-text
        .categories-elem-name
          |По вашему запросу найдено 
          span 20 товаров
        .categories-elem-name
          |По вашему запросу  
          span «метабло» 
          | к сожалению ничего не найдено. 
  //.products-outer c catalog 1-1, без сортировки и вместо карточек товара карточки новостей 
  //.news пришлось добавить(
  .products-outer
    .products-row.news
      .products-inner
        mixin Newscart(name, num)
          a(href="#").news-article
            .news-article-num
              .u-intro.h3 #{num}
            .news-article-main
              .u-intro.h3.news-article-name #{name}
              p.u-text ...фирме действует гибкая система скидок, проводятся различные акции по скидкам, можем оказать помощь по доставке товара. Мы производим только высококачественную металлочерепицу. Безупречная геометрия и точность стыка листов #[span  металло]черепицы обеспечивают легкий монтаж кровли. С металлочерепицей Grand..
              .news-article-info
                time.u-graytext 18 июля, 2016 
                .u-graytext Новости и акции
        +Newscart('Распродажа оцинкованных листов с невероятными скидками','01')
        +Newscart('Распродажаскидками2','02')
        +Newscart('Распродажа оцинковаdf gdfнных листов с невероятными скидками2','03')
        +Newscart('Распродажа оцинкdf gdfованных листов с невероятными скидками2','04')
        +Newscart('Распродажа оцинкованнdf gdfg dfdf gdf gdfg dfых листов с неdfgdfgdf gdfgdf gdfgвероятными скидками2','04')
        +Newscart('ААААААААААААААААААААААААААААААААААААААААААААА','05')
        +Newscart('ААААААААААААААААААААААААААААААААААААААААААААА','156')
        +Newscart('ААААААААААААААААААААААААААААААААААААААААААААА','4582')
        +Newscart('ААААААААААААААААААААААААААААААААААААААААААААА','08')
        +Newscart('Пиу','09')
        +Newscart('Ня','10')



  .pagination-wrapper
    .pagination-inner
      .cards-slider-nav
        a(href="#").carousel-prev.slick-arrow.arr-l
          .icon
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 45.9 14', style='enable-background:new 0 0 45.9 14;', xml:space='preserve')
              style(type='text/css').
                .slider-arr{fill:#353535;}
              g
                g
                  polygon.slider-arr(points='0.2,7 7.2,14 8.3,12.9 2.9,7.5 45.9,7.5 45.9,6 3,6 8,1 7,0 0,6.8')
        .pagin-counter
          a(href="#").pagin-counter-item 1
          a(href="#").pagin-counter-item 2
          a(href="#").pagin-counter-item.active 3
          a(href="#").pagin-counter-item 4
          a(href="#").pagin-counter-item 5
          span.dots ...
          a(href="#").pagin-counter-item 27
          a(href="#").pagin-counter-item 28
        a(href="#").carousel-next.slick-arrow.arr-r
          .icon
            svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 45.9 14', style='enable-background:new 0 0 45.9 14;', xml:space='preserve')
              style(type='text/css').
                .slider-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#353535;}
              g
                g
                  polygon.slider-arr(points='45.9,6.8 38.9,0 37.9,1 42.9,6 0,6 0,7.5 43,7.5 37.6,12.9 38.7,14 45.7,7')
    
  









  