extends _layout

block title
  title Index

block content
  .fixed-container.index-slider
    mixin Indexslides(img, h1,h2)
      .index-slider-elem(style='background-image:url('+ img+ ')')
        .index-slider-text
          h1.u-intro.extrabig #{h1}
          h2.u-intro.h2 #{h2}
    +Indexslides('img/arsenal.jpg','Арсенал металл','Производим и продаём металлоизделия И сопутствующие материалы') 
    +Indexslides('img/arsenal.jpg','Арсенал металлq','Производим и продаём металлоизделия И сопутствующие материалы')
    +Indexslides('img/arsenal.jpg','Арсенал металлw','Производим и продаём металлоизделия И сопутствующие материалы Оргомный выбор')
  script.
    function insexslider(){
      $('.index-slider').slick({
        accessibility: true,
        arrows: false,
        dots: true,
        draggable: false,
        touchMove: false,
        vertical: true,
        infinite: true
      }); 
    } insexslider();  
  section.section-feature
    .features__nav
    .features
      mixin Futureslides(img, text)
        .features_block
          .features--img
            img(src=img, alt="")
          p.u-text #{text}
      +Futureslides('img/features/icon_1.svg','Лучшие оптовые и розничные цены от производителя, скидки.') 
      +Futureslides('img/features/icon_2.svg','Оперативная доставка по всей территории Республики Беларусь') 
      +Futureslides('img/features/icon_3.svg','Покупайте и оплачивайте продукцию онлайн.')  
  script.
    function feachures(){
    $('.features').slick({
      accessibility: true,
      arrows: true,
      draggable: false,
      touchMove: false,
      slidesToShow: 3,
      appendArrows: $('.features__nav'),
      nextArrow:'<button type="button" class="carousel-next"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve"><style type="text/css">.st-slider{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}</style><path class="st-slider" d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5"/></svg></div></button>',
      prevArrow:'<button type="button" class="carousel-prev"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve"><style type="text/css">.st-slider{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}</style><path class="st-slider" d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5"/></svg></div></button>',
      responsive: [
        {
          breakpoint: 1112,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 544,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        ]
    });
    } feachures();

  
  